Flask
pyTelegramBotAPI
psutil
requests
aiohttp
urllib3
httpx
PyJWT
cryptography
pycryptodome
python-dotenv
pytz
pyrogram
cryptg
protobuf
orjson
ujson
msgpack
fastapi
cachetools
pymongo
sqlalchemy
aiosqlite
cfonts
python-telegram-bot
aiogram
uvicorn
gunicorn
waitress
loguru
rich
colorama
schedule
humanize